:root{
    --main-color: #fd1f65;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.4s;
    }

*{
padding: 0;
margin: 0;
font-family: "Work Sans", sans-serif;
box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
  }


body{
min-height: 100vh;
}

.header{


}

.contan{

    margin-left: auto; 
    margin-right: auto;
    padding-left: 15px; 
    padding-right: 15px;
    /* background-color: #1a1a1a; */
  }

/* Small */
@media (min-width: 768px) {
    .contan {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .contan {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .contan {
      width: 1170px;
    }
  }

  .header{

    padding: 10px;
    background-color:  ;
    max-height: 64px;

  }
.logo {
font-size: 2rem;
font-weight: 400;
text-decoration: none;
letter-spacing: -5px;
color: var(--main-color);
transition: all var(--main-duration)  ;
}

.logo:hover {

  letter-spacing: -2px;


}
  

  .header .contan {

display: flex;
justify-content: space-between;
align-items: center;
padding: 8px;
  }

  .header .links {

    position: relative;

  }

.header .links ul {

  display: none;
  list-style: none;
  margin: 0;
  background-color: #1a1a1a;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  border-radius: 2px;
  min-width: 170px;
  box-shadow: rgb(163 163 163 / 25%) 1px 1px 10px;


}
.header .links ul li {
  text-align: center;
padding: 14px 0;

}


.header .links ul li a {

    color:#777;
    text-decoration: none;
    font-size: 1rem;
    margin: 15px;
    padding-bottom: 5px;
    transition: var(--main-duration) ;
    border-bottom: 2px #999 solid ;
    letter-spacing: 2px;



}
.header .links ul li a:hover {

    border-bottom: 2px var(--main-color) solid ;
    color: var(--main-color);
    letter-spacing: 5px;
}


.header .links .icon i {

  color: var(--main-color);
  font-size: 25px;

}



.header .links:hover ul {

display: block;

}



.landing {

background-image: url(../images/1.jpg);
background-position: center;
background-size: cover;
height: calc( 100vh - 64px );
position: relative;

}

.landing .intro-text {

position: absolute;
left: 50%;
top: 50%;
transform: translate(-50% , -50%);

}

.landing .intro-text h1 {
  margin: 0;
  font-size: 3.5rem;
  color: white;

}

.landing .intro-text p {
    margin: 0;
  font-size: 1.5rem;
  color: white;
  padding-top: 8px;

}

.features {

padding-top: var(--section-padding);
padding-bottom: var(--section-padding);
background-color: #f6f6f6;

}


.features .contan {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;

}

.features .contan .feat {
  padding: 20px;
  text-align: center;

/* background-image: linear-gradient(180deg,rgb(240, 240, 240),rgb(235, 235, 235)); */
border-radius: 6px;
box-shadow: rgb(163 163 163 / 25%) 4px 4px 25px;
transition: all var(--main-duration) ease-in-out ;

}

.features .contan .feat:hover {


transform: scale(1.05);
}


.features .contan .feat i {
color: var(--main-color);

}

.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 16px;
}

.special-heading {

  font-size: 100px;
  color: #eaeaea;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
   margin: 0;

   
}

.special-heading + p {
  font-size: 24px;
  color: #686868;
  text-align: center;
  letter-spacing: -2px;
  margin: -35px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}


.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));


  grid-gap: 30px;
  margin-top: 120px;
}

@media (max-width: 500px) {
  .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}


.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}


.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.services .services-content .image img {
  width: 260px;
}



.portfolio {

background-color: var(--section-background);



}


.porfolio-cards{

display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
padding-top: var(--section-padding);
padding-bottom: var(--section-padding);
gap: 20px;
}

.porfolio-cards .card {

/* margin: 10px; */
border-radius: 20px;
box-shadow: rgb(163 163 163 / 25%) 4px 4px 25px;
margin-bottom: 20px;


}

.img-card{
margin: 0;
overflow: hidden;
position: relative;
border-top-left-radius: 20px;
border-top-right-radius: 20px;

width: 100%;
max-height: 60%;
}

.img-card .close {
display: none;
}

.images-card {

width: 100%;
max-height: 100%;
opacity: 90%;
transition: all var(--main-duration) ease-in-out ;

}

.card .img-card img {


height: 250px;


}

.images-card:hover {

  transform: rotate(2deg) scale(1.2);
  opacity: 100%;
  cursor: pointer;
  }

  /* .porfolio-cards .card h2 {

        font-weight: 800;
        margin: 10px 10px;
        padding: 0 5px;
        font-size: 20px;
    } */

  

  .porfolio-cards .card p {

  line-height: 1.8;
    color: #777;
  font-size: 15px;
  margin: 15px 15px;
}


.porfolio-cards .card .project-text {

 display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
}

.porfolio-cards .card .project-text h2 {

  font-weight: 600;
  margin: 10px 10px;
  padding: 0 5px;
  font-size: 15px;

}

.porfolio-cards .card .project-text .project-logo-date {

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0;
  padding: 0;
}


  
.porfolio-cards .card .project-text .ps {

  background-color: #001e29;
  font-size: 13px;
  color: #04bbfb;
  border: #04bbfb solid 2px;
  padding: 0px 4px;
  border-radius: 6px;
  font-weight: 800;
  box-shadow: rgb(163 163 163) 2px 2px 3px;

}


.porfolio-cards .card .project-text .ai {

  background-color: #001e29;
  font-size: 13px;
  color: #fa8703;
  border: #fa8703 solid 2px;
  padding: 0px 4px;
  border-radius: 6px;
  font-weight: 800;
  box-shadow: rgb(163 163 163) 2px 2px 3px;


}


.porfolio-cards .card .project-text .id {

  background-color: #001e29;
  font-size: 13px;
  color: #ff3a94;
  border: #ff3a94 solid 2px;
  padding: 0px 4px;
  border-radius: 6px;
  font-weight: 800;
  box-shadow: rgb(163 163 163) 2px 2px 3px;

}

  

.porfolio-cards .card .project-text .project-date {

  background-color: #293a42;
  font-size: 12px;
  color: #f1f1f1;
  padding: 7px 5px;
  border-radius: 2px;
  font-weight: 800;
  box-shadow: rgb(163 163 163) 2px 2px 3px;

}





